### Job description training build

In [67]:
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import re, string, timeit
import pickle
%matplotlib inline

pd.set_option('max_colwidth', 800)

In [68]:
directory = '/Users/chidam/data_sci/data/capstone/'
file_name_ds = 'data scientist.csv'
file_name_da = 'data analyst.csv'
file_name_ba = 'business analyst.csv'
#inp_file = directory + file_name
ds_df = pd.read_csv(directory + file_name_ds)
da_df = pd.read_csv(directory + file_name_da)
ba_df = pd.read_csv(directory + file_name_ba)
#filtered_df = in_file[in_file['course_rating']>0]  # dropped 35,790 courses with 0 rating. picked only 17.5% courses

In [69]:
## unix finding duplicate entries: cat 'business analyst.csv' 'data analyst.csv' 'data scientist.csv'|sort | uniq -d| wc -l

#ds_df.head()
ds_df = ds_df[ds_df.duplicated() == False]
da_df = da_df[da_df.duplicated() == False]
ba_df = ba_df[ba_df.duplicated() == False]

print(ds_df.info(), da_df.info() , ba_df.info())
print(ds_df.head())
print(da_df.head())
print(ba_df.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 921 entries, 0 to 999
Data columns (total 5 columns):
title       921 non-null object
company     921 non-null object
review      551 non-null object
location    921 non-null object
desc        921 non-null object
dtypes: object(5)
memory usage: 43.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 5 columns):
title       999 non-null object
company     998 non-null object
review      541 non-null object
location    999 non-null object
desc        999 non-null object
dtypes: object(5)
memory usage: 46.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 5 columns):
title       999 non-null object
company     999 non-null object
review      570 non-null object
location    999 non-null object
desc        999 non-null object
dtypes: object(5)
memory usage: 46.8+ KB
None None None
                                     title                   company  \
0            IT Systems & Data Analyst 1/2                    BOEING
1                           Data Scientist      NLB Services Pvt Ltd
2    Data Scientist and Scientific modeler                    Panton
3       SENIOR DATA ANALYST/DATA SCIENTIST     Mainstreet Investment
4  Data Science Assurance Senior Associate  PRICE WATERHOUSE COOPERS

          review                    location  \
0  1,769 reviews  North Charleston, SC 29418
1            NaN                 Redmond, WA
2            NaN                 Houston, TX
3      2 reviews            Carmel, IN 46032
4  1,551 reviews                 Phoenix, AZ

                                                                                                                                                                 desc
0  Skilled scientists and thinkers. A technical degree is defined as any four year degree, or greater, in a mathematic, scientific or information technology field...
1  Be proficient in R language. Have previous experience of the analytical industry and Marketing Analytics. High level of comfort with Primary/Secondary Research...
2                  Provide subject matter expertise and hands-on delivery of image or video processing, predictive analysis, and advanced data analytics projects....
3               Technical expertise regarding data models, database design development, data mining and segmentation techniques. Experience in SQL, R, and Python....
4         Data Analytics Transformation focuses on services related to data auditing, business analytics, visualization and leveraging of analytic technologies to...
                            title                     company          review  \
0             Junior Data Analyst                        ALIS             NaN
1        Analyst, Client Insights                    comScore   3.622 reviews
2  HR Reporting/Analytics Analyst                  First Data  3.6955 reviews
3             Junior Data Analyst  Avery Dennison Corporation  3.9270 reviews
4                    Data Analyst                        EBay  4.1631 reviews

          location  \
0       Boston, MA
1     New York, NY
2     Melville, NY
3  Westborough, MA
4    Rye Brook, NY

                                                                                                                                                                  desc
0                                       Applies professional knowledge to gather facts, research and analyze the data, and develop conclusions and recommendations....
1    ANALYST, CLIENT INSIGHTS. This Analyst will help support comScore's relationships with clients at top publishers and media companies by managing deliveries of...
2          Proficient in data reporting tools. Strong aptitude for working with data. Comfortable manipulating data in MS Excel and conducting root cause analysis....
3                                   Meticulous attention to detail due to the sensitivity of data. High comfort level in manipulating and querying large data sets....
4  Responsibilities include using proprietary software to process industry data, quality control and general maintenance of automotive, motorcycle and power-sports...
                                                  title          company  \
0  Business Analyst / Senior Business Analyst - Flights    Priceline.com
1                                      Business Analyst  Activesoft, Inc
2      Senior Business Analyst - Senior BA Project Lead        Capgemini
3                            Technical Business Analyst   MSR Global LLC
4                                      Business Analyst     Haritek Inc.

        review           location  \
0   30 reviews  Norwalk, CT 06854
1          NaN     Scottsdale, AZ
2  791 reviews        Atlanta, GA
3          NaN        Phoenix, AZ
4          NaN          Tempe, AZ

                                                                                                                                                            desc
0                     As a Business Analyst, you will use insight from priceline’s data to guide our product vision and achieve tactical business objectives....
1      The Business Analyst (BA) works closely with business and technical stakeholders to elicit and define requirements for key projects driven by business...
2  A Business Analyst performing “as-is/ to-be” analysis on business processes and/ or IT; Business Analysts structure, analyze and visualize an enterprise’s...
3  Develop Agile Product Backlog items for presentation to development teams and business owners including appropriate assumptions, acceptance criteria, user...
4                                   Where systems are deficient, the Business Analyst will notify management so that corrective remediation may be scheduled....

In [70]:
exclude = set(string.punctuation) - {'+','#'}

In [71]:
## Removing punctuations ##
def remove_punct(str1):
    return(''.join(ch for ch in str1 if ch not in exclude))

## Stop words
stop_words = set(stopwords.words("english"))

In [72]:
## converting DF to lowercase
for cols in ds_df.columns:
    ds_df[cols] = ds_df[cols].str.lower()
    da_df[cols] = da_df[cols].str.lower()
    ba_df[cols] = ba_df[cols].str.lower()
    

ds_df.review = ds_df.review.str.replace(' reviews','').str.replace(',','')
da_df.review = da_df.review.str.replace(' reviews','').str.replace(',','')
ba_df.review = ba_df.review.str.replace(' reviews','').str.replace(',','')

ds_df.review = ds_df.review.fillna(0)
da_df.review = da_df.review.fillna(0)
ba_df.review = ba_df.review.fillna(0)

ds_df['target'] = 'data scientist'
da_df['target'] = 'data analyst'
ba_df['target'] = 'business analyst'


print(ds_df.head())
print(da_df.head())
print(ba_df.head())

                                     title                   company review  \
0            it systems & data analyst 1/2                    boeing   1769
1                           data scientist      nlb services pvt ltd      0
2    data scientist and scientific modeler                    panton      0
3       senior data analyst/data scientist     mainstreet investment      2
4  data science assurance senior associate  price waterhouse coopers   1551

                     location  \
0  north charleston, sc 29418
1                 redmond, wa
2                 houston, tx
3            carmel, in 46032
4                 phoenix, az

                                                                                                                                                                 desc  \
0  skilled scientists and thinkers. a technical degree is defined as any four year degree, or greater, in a mathematic, scientific or information technology field...
1  be proficient in r language. have previous experience of the analytical industry and marketing analytics. high level of comfort with primary/secondary research...
2                  provide subject matter expertise and hands-on delivery of image or video processing, predictive analysis, and advanced data analytics projects....
3               technical expertise regarding data models, database design development, data mining and segmentation techniques. experience in sql, r, and python....
4         data analytics transformation focuses on services related to data auditing, business analytics, visualization and leveraging of analytic technologies to...

           target
0  data scientist
1  data scientist
2  data scientist
3  data scientist
4  data scientist
                            title                     company  review  \
0             junior data analyst                        alis       0
1        analyst, client insights                    comscore   3.622
2  hr reporting/analytics analyst                  first data  3.6955
3             junior data analyst  avery dennison corporation  3.9270
4                    data analyst                        ebay  4.1631

          location  \
0       boston, ma
1     new york, ny
2     melville, ny
3  westborough, ma
4    rye brook, ny

                                                                                                                                                                  desc  \
0                                       applies professional knowledge to gather facts, research and analyze the data, and develop conclusions and recommendations....
1    analyst, client insights. this analyst will help support comscore's relationships with clients at top publishers and media companies by managing deliveries of...
2          proficient in data reporting tools. strong aptitude for working with data. comfortable manipulating data in ms excel and conducting root cause analysis....
3                                   meticulous attention to detail due to the sensitivity of data. high comfort level in manipulating and querying large data sets....
4  responsibilities include using proprietary software to process industry data, quality control and general maintenance of automotive, motorcycle and power-sports...

         target
0  data analyst
1  data analyst
2  data analyst
3  data analyst
4  data analyst
                                                  title          company  \
0  business analyst / senior business analyst - flights    priceline.com
1                                      business analyst  activesoft, inc
2      senior business analyst - senior ba project lead        capgemini
3                            technical business analyst   msr global llc
4                                      business analyst     haritek inc.

  review           location  \
0     30  norwalk, ct 06854
1      0     scottsdale, az
2    791        atlanta, ga
3      0        phoenix, az
4      0          tempe, az

                                                                                                                                                            desc  \
0                     as a business analyst, you will use insight from priceline’s data to guide our product vision and achieve tactical business objectives....
1      the business analyst (ba) works closely with business and technical stakeholders to elicit and define requirements for key projects driven by business...
2  a business analyst performing “as-is/ to-be” analysis on business processes and/ or it; business analysts structure, analyze and visualize an enterprise’s...
3  develop agile product backlog items for presentation to development teams and business owners including appropriate assumptions, acceptance criteria, user...
4                                   where systems are deficient, the business analyst will notify management so that corrective remediation may be scheduled....

             target
0  business analyst
1  business analyst
2  business analyst
3  business analyst
4  business analyst

In [74]:
train_df = pd.concat([ds_df, da_df, ba_df], axis = 0)
print(train_df.info())
print(train_df.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 999
Data columns (total 6 columns):
title       2919 non-null object
company     2918 non-null object
review      2919 non-null object
location    2919 non-null object
desc        2919 non-null object
target      2919 non-null object
dtypes: object(6)
memory usage: 159.6+ KB
None
                                     title                   company review  \
0            it systems & data analyst 1/2                    boeing   1769
1                           data scientist      nlb services pvt ltd      0
2    data scientist and scientific modeler                    panton      0
3       senior data analyst/data scientist     mainstreet investment      2
4  data science assurance senior associate  price waterhouse coopers   1551

                     location  \
0  north charleston, sc 29418
1                 redmond, wa
2                 houston, tx
3            carmel, in 46032
4                 phoenix, az

                                                                                                                                                                 desc  \
0  skilled scientists and thinkers. a technical degree is defined as any four year degree, or greater, in a mathematic, scientific or information technology field...
1  be proficient in r language. have previous experience of the analytical industry and marketing analytics. high level of comfort with primary/secondary research...
2                  provide subject matter expertise and hands-on delivery of image or video processing, predictive analysis, and advanced data analytics projects....
3               technical expertise regarding data models, database design development, data mining and segmentation techniques. experience in sql, r, and python....
4         data analytics transformation focuses on services related to data auditing, business analytics, visualization and leveraging of analytic technologies to...

           target
0  data scientist
1  data scientist
2  data scientist
3  data scientist
4  data scientist

In [77]:
train_df.to_csv('train_df.csv',encoding='utf-8')